@font-face{
  font-family:"CheddarJack";
  src: local("CheddarJack"), url("CheddarJack.ttf");
}
.cheddarJack {
  font-family: "CheddarJack";
}
* {
  box-sizing: border-box;
}

body{
  background-color: #eaeaea;
  padding-bottom: 30px;
}

header {
  display: block;
  background-image: url("space.jpg");
  background-size: cover;
  /*margin-top: -20px;
  padding-bottom: 20px;*/
  color: #fff;
  padding: 30px;
}

header h1 {
  font-family: "CheddarJack";
  font-size: 150px;
  margin-bottom: -40px;
}

.pages {
  min-height: 100%;
}

.pages h4 {
  margin-top: 30px;
}
.down {
  color: #fff;
  font-size: 80px;
  padding-top: 100px;
}

.down:hover{
  color: #d3d3d3;
}
